go 1.25.0

use (
	.
	./envspec
	./harness
	./pkg/bep
	./pkg/cogblock
	./pkg/cogfield
	./pkg/coordination
	./pkg/modality
	./pkg/reconcile
	./pkg/substrate
	./pkg/substrate/projection
	./pkg/uri
	./sdk
)
